@media (min-width: 992px){
#sendMessageButton{
  margin-left: 0.1rem;
}
}


@media (max-width: 991px){
  #sendMessageButton {
    margin-left: -2.5rem;

}

}
/* .page-section {
padding: 66px 0 0 0 !important;
} */

@media (min-width: 992px) {
 .tekstModalVerxniy {
  font-style: italic;
    margin-bottom: 2rem;
    font-family: 'Jura', sans-serif;
    font-size: 1.3rem;
    padding: 25% 0% 5% 0%;
    margin-left: -21%;
}
.svg-inline--fa.fa-w-8 {
  width: 49%;
  height: 3em;
}
}

@media (min-width: 400px) and (max-width:881px) {
.page-section{
  width:1000px !important;
}

.masthead{
  width:1000px !important
}

}


.SliderTitle{
  padding-bottom: 3rem;
}

.carousel-3d-slide img {
  margin-top: -57px;
}

}




/* modal vnutr karusel i td vnizu */
@media (min-width: 992px) {




#portfolio{
  padding: 50px 50px 240px 80px;
}

  .svg-inline--fa.fa-w-8 {
    width: 49%;
    height: 3em;
}

  /* .tekstModalVerxniy {
  letter-spacing: 0.5px;
        width: 124%;
        font-size: 1.3rem;
        line-height: 126%;
        padding: 0px 0px 0 0;
        margin: 42px 0 0 -106px;
        font-style: italic;
            margin-bottom: 2rem;
            font-family: 'Jura', sans-serif;
            font-size: 1.3rem;
            padding: 25% 0% 5% 0%;
            margin-left: -21%;
  } */

  .tekstModalVerxniyViorica {
  letter-spacing: 0.5px;
        width: 124%;
        font-size: 1.3rem;
        line-height: 126%;
        padding: 0px 0px 0 0;
        margin: 42px 0 0 -106px;
  }
  .tekstModalNijniy {

    width: 80%;
    line-height: 157%;
    font-size: 1.3rem;
    margin: -67px 0 0 -89px;
    padding: 88.1px 0px 0px 0px;
    text-align: left;
    font-weight: 600;

  }


.BBdiv {
  margin-top: 4rem;
}


.tekstModalNijniyBB {

    width: 80%;
    line-height: 157%;
    font-size: 1.3rem;
    margin: -67px 0 0 81px;
    padding: 88.1px 0px 0px 0px;
    text-align: left;
    font-weight: 600;

  }

.HeaderOfModalImage{
    letter-spacing: 0.5px;
    width: 93%;
    font-size: 1.5rem;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 127%;
    padding: 0px 0px 0 0;
    margin: 0px 0px 0px 40px;
}


}

@media (max-width: 991px) {

  .svg-inline--fa.fa-w-8 {
    width: 49%;
    height: 3em;
}

  .tekstModalVerxniy {
    letter-spacing: 0.5px;
    width: 114%;
    font-size: 1.3rem;
    line-height: 114%;
    padding: 0px 0px 0 0;
    margin: 42px 0 0 -52px;
}

.tekstModalVerxniyViorica {
  letter-spacing: 0.5px;
  width: 114%;
  font-size: 1.3rem;
  line-height: 114%;
  padding: 0px 0px 0 0;
  margin: 42px 0 0 -52px;
}

  .tekstModalNijniy {

    width: 80%;
    line-height: 157%;
    font-size: 1.3rem;
    margin: -67px 0 0 -89px;
    padding: 88.1px 0px 0px 0px;
    text-align: left;
    font-weight: 400;

  }


.HeaderOfModalImage{
  letter-spacing: 0.5px;
      width: 100%;
      font-size: 1.5rem;
      font-family: Comfortaa;
      font-weight: 700;
      line-height: 127%;
      padding: 0px 0px 0 0;
      margin: 3px 0px 0px 12px;
}

.SliderZagolovok{
  padding-bottom: 4rem;
}

.SliderZagolovokBB{
  padding-bottom: 0.9rem;
}
  .wirinaModalButilkiBB {
      width: 100%;
      margin-top: -4.6rem;
    }

  .wirinaModalButilki {
      width: 100%;
      margin-top: -0.6rem;
    }

    .wirinaModalButilkiBB {
        width: 100%;
        margin-top: -4.6rem;
      }

  .carousel-3d-slide .senturoViorica {
    width: 100%;
        margin-top: -45.2px;

}


}


/* modal vnutr karusel i td naverxu */

.topTekstKollekcii {
  display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Comfortaa";
    font-weight: 700;
    margin-bottom: 4rem;
}

#vysota {
height: 695px !important;
}


/* .carousel-3d-slide img {
  height: 34rem;
} */

/* .carousel-3d-slide .senturoViorica {
  height: 32rem;
  width: 90%;
  margin-left: -3rem;
} */

#carousel3d .carousel-3d-slide.current {
  background-color: #fff;
  color: #0f0e0e;
  width: 388px !important;
      height: 677px !important;
  }


}

.senturoHoverText {
  color: black;
}

.toppadding {
  padding-top: 5rem;
}

#logo-scroll {
  display: none;
}

/* FOTKI NA HEADERE  */

/* padding-top: 8rem;
    padding-bottom: 20rem;
    width: 62rem;
    height: 262px;
    margin: 0px 0 2px 2.4px; */
    /* <-- xorowie nastroyki tut do 554 */



/* @media (max-width: 991px) and (min-width: 992px) */


@media (min-width: 992px){

.SliderZagolovok{
  padding-bottom: 4rem;
}

.SliderZagolovokBB{
  padding-bottom: 0.9rem;
}
  .wirinaModalButilkiBB {
      width: 100%;
      margin-top: -4.6rem;
    }

  .wirinaModalButilki {
      width: 100%;
      margin-top: -0.6rem;
    }

    .wirinaModalButilkiBB {
        width: 100%;
        margin-top: -4.6rem;
      }

  .carousel-3d-slide .senturoViorica {
    width: 100%;
        margin-top: -45.2px;

}
}


@media all and (max-width: 991px) and (min-width: 576px)  {
  .carousel-3d-slide .senturoViorica {
    /* width: 75%; */
    /* margin-top: -128px; */
    width: 100%;
        margin-top: -45.2px;
  }

}

/* @media all and (min-width: 576px) {
  .carousel-3d-slide .senturoViorica {

    width: 75%;
      margin-top: -128px;

  }

} */

@media all and (max-width: 502px) and (min-width: 285px) {
  header.masthead {

  width: 503px;
  height: 256px;
  margin: 0px 0 2px 2.4px;
  padding: 0 0 0 0;
  }

  #about {

      width: 505px;
  }

  #services {
      width: 505px;
  }
  #portfolio {
  padding: 0 0 131px 71.8px;
      width: 502px;
  }

:root{
  width: 502px
}

}

@media all and (max-width: 650px) and (min-width: 576px) {
  header.masthead {
    padding-top: 8rem;
       padding-bottom: 20rem;
       width: 62rem;
       height: 262px;
       margin: 0px 0 2px 2.4px;
    ;
  }
}

@media all and (max-width: 880px) and (min-width: 651px) {
  header.masthead {
    padding-top: 8rem;
       padding-bottom: 20rem;
       width: 62rem;
       height: 262px;
       margin: 0px 0 2px 2.4px;
  }

  /* .navbar-expand-lg .navbar-collapse {
    margin: -15px 0px 1px 0px;
  } */
}


/* Modals stili */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem 8rem;
    border-bottom: none;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

/* znacok zakritiyaa  */
.close {
    float: right;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    padding: 0 0 0 0px;
    padding: 1rem 1rem;
    margin: -1rem -2rem -2rem auto;
}

  /* .svg-inline--fa.fa-w-8 {
  width: 37.5em;
  height: 3em;
} */

/* .wirinaModalButilki{

width: 80%;
margin-top: 2.3rem;
} */

.SliderTitle {

  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Comfortaa";
}
